{% extends 'base.html.twig' %}

{% block title %}Hello AccountController!
{% endblock %}

{% block body %}
	<header>
		<button class="back-button" onclick="window.history.back();" type="button">Go back</button>
	</header>

	<main>
		<h2>Mes informations personelles</h2>

		<ul>
			<li>Nom:
				{{ app.user.lastname }}</li>
			<li>Prénom:
				{{ app.user.firstname }}</li>
			<li>Email:
				{{ app.user.email }}</li>
			<li>Adress:
				{{ app.user.adress }}</li>
			<li>Ville:
				{{ app.user.city }}</li>
			<li>Code Postal:
				{{ app.user.postalcode }}</li>
			<li>Pays:
				{{ app.user.country }}</li>
		</ul>

		<h2>Mes comptes</h2>
		{% for bank_account in bank_accounts %}
			<div class="container-list-accounts">
				<h4>Nom du compte</h4>
				<p>{{bank_account.accountName}}</p>
				<h4>Montant du compte</h4>
				<p>{{bank_account.initialAmount}}</p>
				<div class="primary-button btn-account">
					<a href="{{ path('homepage') }}">Voir le compte</a>
				</div>
			</div>
		{% endfor %}
	</main>
{% endblock %}
