{% extends 'base.html.twig' %}

{% block title %}Dashboard{% endblock %}

{% block body %}
<style>
    
</style>

<div class="container">
            <h2>Mon dashboard :</h2>
            
   {{ form_start(account) }}
        {{ form_row(account.RIB) }}
        {{ form_row(account.amount) }}
        {{ form_row(account.dateofbirth) }}
        <button type="submit" class="btn">Valider</button>
    {{ form_end(account) }}
            
        
    
{% endblock %}
