{% extends 'base.html.twig' %}

{% block title %}Bank
{% endblock %}

{% block body %}
	<header>
		{% if app.user %}
			<div>
				<button class="back-button" onclick="window.history.back();" type="button">Go back</button>
			</div>
			<div>
				<a class="link" href="{{ path('account') }}">Mon compte</a>
				<a class="link" href="{{ path('create_bank_account') }}">Créer un compte</a>
				<a class="link" href="{{ path('app_logout') }}">Logout</a>

			</div>
		{% endif %}
	</header>

	<main>
		{% if app.user %}
			<h2>Hello
				{{ app.user.firstname }}! ✅
				<br>
				Bienvenue sur votre compte principal BaNk
			</h2>
			<div class="card-container">
				<div class="card-header">
					<h3>Votre solde</h3>
					<p class="solde">
						<strong>
							{% for amount in amounts %}
								{% set total = total+ amount.montant %}
							{% endfor %}
							{{total}}€
						</strong>
					</p>
				</div>
				<ul class="transfers-list">
					{% for amount in amounts %}
						<li class="transfer">
							<p>Virement effectué</p>
							{{ amount.montant }}€
						</li>
					{% endfor %}
				</ul>
			</div>
			<div class="container-home-button">
				<div class="primary-button btn-home">
					<a href="{{ path('add_money') }}">Ajouter de l'argent</a>
				</div>
				<div class="primary-button btn-home">
					<a href="{{ path('transfer') }}">Effectuer un virement</a>
				</div>
			</div>
		{% endif %}
	</main>
{% endblock %}
