{% extends 'base.html.twig' %}

{% block title %}Hello CreateBankAccountController!
{% endblock %}

{% block body %}
	<header>
		{% if app.user %}
			<div>
				<button class="back-button" onclick="window.history.back();" type="button">Go back</button>
			</div>
			<div>
				<a class="link" href="{{ path('account') }}">Mon compte</a>
				<a class="link" href="{{ path('create_bank_account') }}">Créer un compte</a>
				<a class="link" href="{{ path('app_logout') }}">Logout</a>
			</div>
		{% endif %}
	</header>

	<main>
		<h2>{{bankAccount.accountName}}</h2>
		<div class="card-container">
			<div class="card-header">
				<h3>Votre solde</h3>
				<p class="solde">
					<strong>
						{{bankAccount.initialAmount}}€
					</strong>
				</p>
			</div>
		</main>
	{% endblock %}
