{% extends 'base.html.twig' %}

{% block title %}Hello CreateBankAccountController!
{% endblock %}

{% block body %}
	<header>
		{% if app.user %}
			<div>
				<button class="back-button" onclick="window.history.back();" type="button">Go back</button>
			</div>
			<div>
				<a class="link" href="{{ path('homepage') }}">Accueil</a>
				<a class="link" href="{{ path('account') }}">Mon compte</a>
				<a class="link" href="{{ path('create_bank_account') }}">Créer un compte</a>
				<a class="link" href="{{ path('app_logout') }}">Logout</a>
			</div>
		{% endif %}
	</header>

	<main>
		
		<div class="card-container">
			<div class="card-header">
				<h3>Votre solde</h3>
				<p class="solde">
					<strong>
					<p></p>
					
					
					</strong>
				</p>
			</div>
			
		</main>
		<div class="container-home-button">
				<div class="primary-button btn-home">
					<a href="{{ path('add_money') }}">Ajouter de l'argent</a>
				</div>
				<div class="primary-button btn-home">
					<a href="{{ path('transfer') }}">Effectuer un virement</a>
				</div>
		</div>
	{% endblock %}
